@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Roboto', sans-serif; /* Apply Roboto font */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

input::placeholder{
    font-size: 12px;
    color: #a0aec0;
}